hello/hello
hi/hi
nyan/nyan
waffles/waffles
badgers/badgers
eightball/eightball
bridge/bridge
rps/rps
arrrgs/arrrgs
roll/roll
mtable/mtable
madforms/madforms
bincount/bincount
gen/gen
quiz/quiz
lights/lights
lib/mylights.py
guess/guess
arena/arena
battleship/battleship
pokeapi/pokeapi
story/story
